@import "../../responsive.scss";

.searchBar {
  .type {
    button {
      padding: 16px 36px;
      border: 1px solid #999;
      cursor: pointer;
      background-color: white;
      text-transform: capitalize;
      border-bottom: none;

      &.active {
        background-color: black;
        color: white;
      }

      &:first-child {
        border-top-left-radius: 10px;
        border-right: none;
      }
      &:last-child {
        border-top-right-radius: 10px;
        border-left: none;
      }

    }
  }

  form {
    border: 1px solid #999;
    display: flex;
    justify-content: space-between;
    height: 60px;

    @include sm{
      flex-direction: column;
      border: none;
      gap: 10px;
    }

    input {
      border: none;
      padding: 0 10px;
      width: 180px;
      border-right: 1px solid #999;

      @include lg {
        width: 140px;
        padding: 0 5px;
      }
      @include md {
        width: 200px;
      }

      @include sm{
        width: auto;
        padding: 20px;
        border: 1px solid #999;
      }
    }

    button {
      border: none;
      cursor: pointer;
      background-color: #fece51;
      flex: 1;
      @include sm{
        padding: 10px;
      }

      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}
